@model QuanLyCaPhe.Models.KHACHHANG

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditKH</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h1 style="color:brown; font-family:'Times New Roman'; font-weight:bold;">CHỈNH SỬA THÔNG TIN KHÁCH HÀNG</h1>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.MAKH, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MAKH)
                    @Html.ValidationMessageFor(model => model.MAKH)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TENNKH, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENNKH)
                    @Html.ValidationMessageFor(model => model.TENNKH)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PHAI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PHAI)
                    @Html.ValidationMessageFor(model => model.PHAI)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SDTKH, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDTKH)
                    @Html.ValidationMessageFor(model => model.SDTKH)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TENTAIKHOAN, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENTAIKHOAN)
                    @Html.ValidationMessageFor(model => model.TENTAIKHOAN)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MATKHAUTK, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MATKHAUTK)
                    @Html.ValidationMessageFor(model => model.MATKHAUTK)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DIACHIKH, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DIACHIKH)
                    @Html.ValidationMessageFor(model => model.DIACHIKH)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL)
                    @Html.ValidationMessageFor(model => model.EMAIL)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
